<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Formulario de Usuario</title>
  </head>
  <body>
    <h1>Formulario de Registro</h1>

    <form action="/guardar" method="post">
      Nombre: <input type="text" name="nombre" required /><br />
      Email: <input type="email" name="email" required /><br />
      Contraseña: <input type="password" name="contraseña" required /><br />
      <button type="submit">Registrar</button>
    </form>
  </body>
</html>
